<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RedisContext" connectionString="Offline=False;Server=127.0.0.1;Port=6379;" providerName="System.Data.CData.Redis" />
  </connectionStrings>
    <entityFramework>
      <providers>
        <provider invariantName="System.Data.CData.Redis" type="System.Data.CData.Redis.RedisProviderServices, System.Data.CData.Redis.Entities.EF6" />
      </providers>
    </entityFramework>
</configuration>